.myDataTextContent1 {
   text-align:center;
   position: relative;
   margin-top: 0px;
   color: #F6F4E6;
   background: rgb(33,33,33, 1);
   padding: 5px;
   margin-bottom: 0px;
   width: 100%;
   font-size: 35px;
}
.myDataTextContent2 {
   text-align:center;
   position: relative;
   margin-top: 0px;
   color: #F6F4E6;
   background: rgb(33,33,33, 1);
   padding: 5px;
   margin-bottom: 0px;
   width: 100%;
   font-size: 20px;
}