h1.sticky {
  color: #f2C75C;
  font-size: 70px;
  margin-top: 10%;
  position: absolute;
}

h1.fade {
  color: #f2C75C;
  font-size: 70px;
  margin-top: 10%;
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
   0% {opacity: 0;}
   5% {opacity: 0;}
   100% {opacity: 1;}
}

#baseText {
  color: #F6F4E6;
  margin-right: 10px;
}
