h1 {
  font-size: 70px;
  margin-top: 10%;
  animation-name: fadeIn;
  animation-duration: 5s;
}

@keyframes fadeIn {
   0% {opacity: 0;}
   5% {opacity: 0;}
   100% {opacity: 1;}
}

h1.rot {
  color: #f2C75C;
}

h1.base {
  color: #F6F4E6;
  margin-right: 10px;
}
